@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700&family=Gothic+A1:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@700,500,300,400&display=swap" rel="stylesheet');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-brand-1: #1AE6E9;
  --color-brand-2: #3C4F5E;
  --color-black: #020202;
  --color-white: #ffffff;

  --font-size-0: 9rem;
  --font-size-1: 8.5rem;
  --font-size-2: 8rem;
  --font-size-3: 7rem;
  --font-size-4: 6rem;
  --font-size-5: 4.5rem;
  --font-size-6: 3.5rem;
  --font-size-7: 1.25rem;
  --font-size-8: 1rem;
  --font-size-9: 0.7rem;

  --font-weight-0: 700;
  --font-weight-1: 600;
  --font-weight-2: 400;
  --font-weight-3: 300;

  --font-family-1: "Inter", sans-serif;
  --font-family-2: "Archivo", sans-serif;
  --font-family-3: "Gothic A1", sans-serif;
  --font-family-4: "Satoshi", sans-serif;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: var(--font-family-2);
}

button {
  cursor: pointer;
}

.navegation__area {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background:
    linear-gradient(to left, var(--color-brand-1), transparent),
    linear-gradient(to right, var(--color-white), transparent);
  background-blend-mode: screen;

  .navegation__container {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .navegation__brand {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.2rem;
      width: auto;
      height: auto;

      .navegation__logo {
        width: 3rem;
        height: auto;
      }

      .navegation__title {
        color: var(--color-brand-1);
        text-align: center;
        font-family: var(--font-family-3);
        font-size: clamp(var(--font-size-8), 2.5vw, 2rem);
        font-style: normal;
        font-weight: var(--font-weight-1);
        line-height: normal;
      }
    }

    .navegation__button {
      padding: 0.6rem 1.1rem;
      border-radius: 3.125rem;
      background-color: var(--color-black);
      color: var(--color-white);

      text-align: center;
      font-family: var(--font-family-1);
      font-size: clamp(0.9rem, 2.5vw, var(--font-size-8));
      font-style: normal;
      font-weight: var(--font-weight-1);
      line-height: normal;
      text-decoration: none;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      .navegation__whatsIcon {
        width: 1.5rem;
        height: auto;
        fill: var(--color-white);
      }

      &:hover {
        background-color: var(--color-brand-1);
        border: 1px solid var(--color-brand-1);
      }

      &:focus {
        background-color: var(--color-brand-1);
        border: 1px solid var(--color-brand-1);
      }
    }
  }
}

.header__area {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;

  background:
    linear-gradient(to left, var(--color-brand-1), transparent),
    linear-gradient(to right, var(--color-white), transparent),
    linear-gradient(to top, var(--color-white), transparent);
  background-blend-mode: screen;

  .header__container {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .header__info {
      width: 55%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .header__title {
        color: var(--color-brand-1);
        text-align: center;
        font-family: var(--font-family-3);
        font-size: clamp(1.3rem, 2.5vw, var(--font-size-0));
        font-style: normal;
        font-weight: var(--font-weight-1);
        line-height: normal;
      }

      .header__paragraph {
        color: var(--color-black);
        text-align: center;
        font-family: var(--font-family-1);
        font-size: clamp(var(--font-size-9), 2.5vw, var(--font-size-8));
        font-style: normal;
        font-weight: var(--font-weight-1);
        line-height: normal;

      }

      .header__button {
        padding: 0.8rem 1.5rem;
        border-radius: 3.125rem;
        background-color: var(--color-black);
        border: 1px solid var(--color-black);
        color: var(--color-white);

        text-align: center;
        font-family: var(--font-family-1);
        font-size: clamp(var(--font-size-9), 2.5vw, var(--font-size-7));
        font-style: normal;
        font-weight: var(--font-weight-1);
        line-height: normal;
        text-decoration: none;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        &:hover {
          background-color: var(--color-brand-1);
          border: 1px solid var(--color-brand-1);
        }

        &:focus {
          background-color: var(--color-brand-1);
          border: 1px solid var(--color-brand-1);
        }
      }
    }

    .header__img {
      width: 40%;
      height: auto;
    }
  }
}

.main__area {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .main__firstSection {
    padding: 3rem 0rem;
    width: 80%;
    height: auto;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;

    .main__firstSection--title {
      color: var(--color-brand-2);
      text-align: center;
      font-family: var(--font-family-1);
      font-size: clamp(var(--font-size-8), 2.5vw, var(--font-size-7));
      font-style: normal;
      font-weight: var(--font-weight-1);
      line-height: normal;

    }

    .main__firstSection--list {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 4rem;

      .main__instaPost {
        min-width: 20rem;
        min-height: 20rem;
        border-radius: 1rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;


        .main__instaPost--post {
          min-width: 100%;
          min-height: 20rem;
          position: relative;
          border-radius: 1rem;

          .main__instaPost--image {
            width: 20rem;
            height: auto;
            border-radius: 1rem;

            -webkit-transition: -webkit-transform .5s ease;
            transition: transform 1s ease;
          }

          .main__instaPost--date {
            position: absolute;
            bottom: 20px;
            right: 5px;
            padding: 0.6rem 0.5rem;
            border-radius: 0.5rem;
            background-color: var(--color-brand-1);
            color: var(--color-black);

            text-align: end;
            font-family: var(--font-family-4);
            font-size: var(--font-size-8);
            font-style: normal;
            font-weight: var(--font-weight-0);
            line-height: normal;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            .main__instaPost--icon {
              width: 1.5rem;
              height: auto;
              fill: var(--color-white);
            }
          }
        }

        &:hover {
          .main__instaPost--post {
            .main__instaPost--image {
              -webkit-transform: scale(1.1);
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }

  .main__secondSection {
    padding: 3rem 0rem;
    width: 100%;
    height: auto;
    background-color: rgb(243, 249, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .main__secondSection--container {
      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 3rem;

      .secondSection__jobs {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 1rem 2rem 1rem;
        gap: 2rem;

        background-color: var(--color-white);
        box-shadow: rgba(121, 188, 245, 0.25) 0rem 0.438rem 1.813rem 0rem;
        border-radius: 0.875rem;

        .secondSection__jobs--header {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          .secondSection__jobs--img {
            width: 5rem;
            height: auto;
          }

          .secondSection__jobs--title {
            color: var(--color-black);
            text-align: center;
            font-family: var(--font-family-1);
            font-size: clamp(var(--font-size-9), 2.5vw, var(--font-size-7));
            font-style: normal;
            font-weight: var(--font-weight-1);
            line-height: normal;
          }
        }

        .secondSection__jobs--main {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 100%;
          gap: 5rem;

          .secondSection__jobs--paragraph {
            color: var(--color-black);
            text-align: center;
            font-family: var(--font-family-2);
            font-size: clamp(var(--font-size-9), 2.5vw, var(--font-size-8));
            font-style: normal;
            font-weight: var(--font-weight-2);
            line-height: 2rem;
          }
        }
      }

      .secondSection__week {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem 1rem 2rem 1rem;
        gap: 1rem;

        background-color: var(--color-white);
        box-shadow: rgba(121, 188, 245, 0.2) 0rem 0.438rem 1.813rem 0rem;
        border-radius: 0.875rem;

        .secondSection__week--title {
          color: var(--color-black);
          text-align: center;
          font-family: var(--font-family-1);
          font-size: clamp(var(--font-size-9), 2.5vw, var(--font-size-7));
          font-style: normal;
          font-weight: var(--font-weight-1);
          line-height: normal;
        }

        .secondSection__week--main {
          width: 80%;
          border-top: 0.2rem dotted #dbd7ee;
          border-left: 0.2rem dotted #dbd7ee;
          border-right: 0.2rem dotted #dbd7ee;
          border-radius: 0.75rem;

          .secondSection__week--paragraph {
            padding: 0.8rem;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-bottom: 0.2rem dotted #dbd7ee;

            color: var(--color-black);
            text-align: center;
            font-family: var(--font-family-2);
            font-size: clamp(var(--font-size-9), 2.5vw, var(--font-size-8));
            font-style: normal;
            font-weight: var(--font-weight-2);
            line-height: normal;
          }

          .secondSection__week--paragraphBottom {
            padding: 0.8rem;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-bottom: 0.2rem dotted #dbd7ee;
            border-bottom-left-radius: 0.75rem;
            border-bottom-right-radius: 0.75rem;

            color: var(--color-black);
            text-align: center;
            font-family: var(--font-family-2);
            font-size: clamp(var(--font-size-9), 2.5vw, var(--font-size-8));
            font-style: normal;
            font-weight: var(--font-weight-2);
            line-height: normal;

            .seconSection__closed {
              color: red;
            }

          }
        }

        .secondSection__week--button {
          width: auto;
          padding: 0.8rem 1.5rem;
          border-radius: 3.125rem;
          background-color: var(--color-black);
          border: 1px solid var(--color-black);
          color: var(--color-white);
          gap: 1rem;

          text-align: center;
          font-family: var(--font-family-1);
          font-size: clamp(var(--font-size-9), 2.5vw, var(--font-size-8));
          font-style: normal;
          font-weight: var(--font-weight-1);
          line-height: normal;
          text-decoration: none;

          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          &:hover {
            background-color: var(--color-brand-1);
            border: 1px solid var(--color-brand-1);
          }

          &:focus {
            background-color: var(--color-brand-1);
            border: 1px solid var(--color-brand-1);
          }

          .secondSection__week--icon {
            width: 1.2rem;
            height: auto;
          }
        }

      }
    }


  }

  .main__thirdSection {
    padding: 3rem 0rem;
    width: 90%;
    height: auto;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
    margin: 1rem;

    .main__thirdSection--title {
      color: var(--color-brand-2);
      text-align: center;
      font-family: var(--font-family-1);
      font-size: clamp(var(--font-size-8), 2.5vw, var(--font-size-7));
      font-style: normal;
      font-weight: var(--font-weight-1);
      line-height: normal;
    }

    .main__thirdSection--list {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 4rem;

      .main__avaliation {
        width: 35%;
        max-width: 30rem;
        height: auto;
        background-color: rgba(243, 249, 255, 0.5);
        border: 5px solid rgba(243, 249, 255, 1);
        backdrop-filter: blur(5px);
        padding: 1.5rem 1.25rem 1.25rem 1.25rem;
        stroke: black;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-self: center;
        gap: 0.5rem;

        .main__postHeader {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 0.5rem;

          .main__userAvatar {
            width: 3.5rem;
            height: auto;
          }

          .main__userInfo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 0.25rem;

            .main__avaliation--author {
              text-align: start;
              color: var(--color-black);
              font-family: var(--font-family-1);
              font-size: clamp(var(--font-size-9), 2.5vw, var(--font-size-8));
              font-style: normal;
              font-weight: var(--font-weight-0);
              line-height: normal;
            }

            .main__avaliation--date {
              text-align: start;
              color: var(--color-brand-2);
              font-family: var(--font-family-1);
              font-size: clamp(var(--font-size-9), 2.5vw, var(--font-size-8));
              font-style: normal;
              font-weight: var(--font-weight-2);
              line-height: normal;
            }
          }
        }

        .main__avaliation--note {
          color: var(--color-black);
          font-family: var(--font-family-1);
          font-size: clamp(var(--font-size-9), 2.5vw, var(--font-size-8));
          font-style: normal;
          font-weight: var(--font-weight-2);
          line-height: normal;


        }

        .main__avaliation--paragraph {
          color: var(--color-black);
          font-family: var(--font-family-1);
          font-size: clamp(var(--font-size-9), 2.5vw, var(--font-size-8));
          font-style: normal;
          font-weight: var(--font-weight-2);
          line-height: normal;
        }
      }
    }

    .main__thirdSection--buttons {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-end;
      gap: 2rem;

      .main__thirdSection--write {
        padding: 0.8rem 1.5rem;
        border-radius: 3.125rem;
        background-color: var(--color-white);
        color: #000e25;
        border: 3px solid #000e25;

        text-align: center;
        font-family: var(--font-family-1);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: var(--font-weight-1);
        line-height: normal;
        text-decoration: none;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        &:hover {
          color: var(--color-white);
          background-color: #000e25;
          border: 3px solid #000e25;
        }

        &:focus {
          color: var(--color-white);
          background-color: #000e25;
          border: 3px solid #000e25;
        }
      }

      .main__thirdSection--more {
        padding: 0.8rem 1.5rem;
        border-radius: 3.125rem;
        background-color: var(--color-brand-1);
        color: var(--color-white);
        border: 3px solid var(--color-brand-1);

        text-align: center;
        font-family: var(--font-family-1);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: var(--font-weight-1);
        line-height: normal;
        text-decoration: none;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        &:hover {
          color: var(--color-white);
          background-color: #000e25;
          border: 3px solid #000e25;
        }

        &:focus {
          color: var(--color-white);
          background-color: #000e25;
          border: 3px solid #000e25;
        }
      }
    }
  }
}

.footer__area {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000e25;
  color: var(--color-white);
  gap: 2rem;
  padding: 2rem 0rem;


  .footer__area--container {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #4b5362;
    padding: 2rem 0rem;

    .footer__contact {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 2.5rem;

      .footer__contact--button {
        padding: 0.6rem 1.1rem;
        border-radius: 3.125rem;
        background-color: #000e25;
        color: var(--color-white);
        border: 3px solid var(--color-white);

        text-align: center;
        font-family: var(--font-family-1);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: var(--font-weight-1);
        line-height: normal;
        text-decoration: none;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        &:hover {
          color: var(--color-black);
          background-color: var(--color-white);
          border: 3px solid var(--color-white);
        }

        &:focus {
          color: var(--color-black);
          background-color: var(--color-white);
          border: 3px solid var(--color-white);
        }
      }

      .footer__contact--info {
        color: var(--color-white);
        text-align: start;
        font-family: var(--font-family-1);
        font-size: clamp(var(--font-size-9), 2.5vw, var(--font-size-7));
        font-style: normal;
        font-weight: var(--font-weight-2);
        line-height: normal;
      }

      .footer__contact--loc {
        color: var(--color-white);
        text-align: start;
        font-family: var(--font-family-1);
        font-size: clamp(var(--font-size-9), 2.5vw, var(--font-size-7));
        font-style: normal;
        font-weight: var(--font-weight-2);
        line-height: normal;
      }
    }

    .footer__maps {
      display: flex;
      flex-direction: flex-end;

      iframe {
        width: 400px;
        height: 300px; 
      }
    }
  }

  .rights__area {
    width: 90%;
    display: flex;
    flex-direction: row;

    color: var(--color-white);
    text-align: center;
    font-family: var(--font-family-4);
    font-size: clamp(var(--font-size-9), 2.5vw, var(--font-size-8));
    font-style: normal;
    font-weight: var(--font-weight-2);
    line-height: normal;
  }
}

@media (max-width: 1080px) {

  .main__area {
    .main__secondSection {
      width: 100%;

      .main__secondSection--container {
        width: 80%;
        flex-direction: column;

        .secondSection__jobs {
          width: 90%;

          .secondSection__jobs--header {
            .secondSection__jobs--img {
              width: 5rem;
              height: auto;
            }
          }

          .secondSection__jobs--main {
            gap: 2.5rem;
          }
        }

        .secondSection__week {
          width: 90%;
        }
      }
    }
  }
}

@media (max-width: 768px) {

  .navegation__area {
    width: 100%;
    min-width: 24.375rem;

    .navegation__container {
      width: 87.7%;

      .navegation__brand {
        .navegation__logo {
          width: 3rem;
          height: auto;
        }

        .navegation__title {
          font-size: 1.2rem;
        }
      }

      .navegation__button {
        font-size: 0.9rem;

        .navegation__whatsIcon {
          width: 1.2rem;
        }
      }
    }
  }

  .header__area {
    width: 100%;
    min-width: 24.375rem;

    .header__container {
      width: 87.7%;

      .header__info {
        .header__title {
          font-size: 1.3rem;
        }

        .header__paragraph {
          font-size: var(--font-size-9);
        }

        .header__button {
          padding: 0.6rem 1.3rem;
          font-size: var(--font-size-9);
        }
      }

      .header__img {
        width: 40%;
      }
    }
  }

  .main__area {
    width: 100%;
    min-width: 24.375rem;

    .main__firstSection {
      width: 87.7%;

      .main__firstSection--title {
        font-size: var(--font-size-8);

      }

      .main__firstSection--list {
        flex-direction: column;

        .main__instaPost {
          width: 20rem;
          height: 20rem;

          .main__instaPost--post {
            height: 20rem;

            .main__instaPost--image {
              width: 20rem;
            }
          }
        }
      }
    }

    .main__thirdSection {
      width: 87.7%;

      .main__thirdSection--title {
        font-size: var(--font-size-8);
      }

      .main__thirdSection--list {
        width: 100%;
        flex-direction: column;
        gap: 2rem;

        .main__avaliation {
          width: 100%;
        }
      }

      .main__thirdSection--buttons {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .main__thirdSection--write {
          font-size: 1rem;
        }

        .main__thirdSection--more {
          font-size: 1rem;
        }
      }
    }
  }

  .footer__area {
    width: 100%;
    min-width: 24.375rem;

    .footer__area--container {
      width: 87.7%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 2rem;

      .footer__contact {
        .footer__contact--button {
          font-size: 1rem;
        }
      }

      .footer__maps {
        width: 90%;
        flex-direction: flex-start;
        iframe {
          width: 100%;
        }
      }
    }

    .rights__area {
      width: 87.7%;
    }
  }
}